@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CBC0D3;
    font: 14px "Open Sans", sans-serif;
}

P,
h1,
span {
    letter-spacing: 2px;
}

.container {
    width: 650px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.overlay-container {
    background-color: #F6F6F6;
    width: 100%;
    height: 415px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1), 5px 5px 5px rgba(0, 0, 0, .1);
}

.overlay {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 20px;
    text-align: center;
}

.overlay-right {
    right: 0;
}

.overlay-left {
    left: 0;
}

.overlay h1,
.overlay h1 span {
    font: 29px 'Lora', serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E9AAF;
}

.overlay h1 span {
    color: #EAC7CC !important;
}

.overlay p,
.overlay p span {
    font-size: 12px;
    color: #8E9AAF;
}

.overlay p {
    margin-top: 5px;
}

.overlay p span {
    color: #EAC7CC !important;
}

.overlay-left-img {
    width: 90px;
    height: 100px;
    margin: 15px 0;
    opacity: .8;
}

.overlay-right-img {
    width: 120px;
    height: 120px;
    opacity: .8;
}

.overlay .account {
    font-size: 11px;
    margin-top: 15px;
}

.btn {
    color: #ce7d88;
    border: solid 1px #EAC7CC;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    outline: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
    background: #EAC7CC;
}

.btn:active {
    transform: scale(.95);
}

.form-container {
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    background-color: #EAC7CC;
    top: 10%;
    left: 5%;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 1s;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, .05);
}

.sign-in-container {
    z-index: 10;
}

.form-container h1 {
    font-size: 32px;
    color: #f6f6f6;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 60px;
}

form {
    width: 100%;
    text-align: center;
}

input {
    width: 65%;
    border: none;
    border-bottom: 1px solid rgba(246, 246, 246, 0.5);
    outline: none;
    background: transparent;
    color: #ce7d88;
    padding: 9px;
    margin-bottom: 20px;
    transition: all .5s;
    caret-color: #ce7d88;
}

input:focus {
    border-bottom: 1px solid #ce7d88;
    padding-bottom: 15px;
}

input:focus::placeholder {
    opacity: 0;
}

::placeholder {
    color: #f6f6f6;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.remember-me {
    text-align: left;
    padding-left: 57px;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    width: 8px;
    accent-color: #ce7d88;
}

input[type="checkbox"]+label {
    color: #ce7d88;
    font-size: 13px;
    letter-spacing: 2px;
    padding-left: 3px;
}

.btn-submit {
    background: #f6f6f6;
    color: #ce7d88;
    border: 1px solid #ce7d88;
    margin-top: 15px;
}

.btn-submit:hover {
    color: #f6f6f6;
    background: #CBC0D3;
    border: 1px solid #bfb1c9;
}

.container.sign-up-mode .form-container {
    transform: translateX(80%);
}

.container.sign-up-mode .sign-up-container {
    z-index: 11;
}